<div class="block-sales-2-container">
	<h2>Besides being great to help you lose the weight, Fit Tea will help…</h2>
 
	<ul>
		<li><strong>FAT BURNING AND WEIGHT LOSS:</strong><br>Fit Tea will help you promote weightloss and help promote the loss of body weight by increasing your metabolism! It does this by not only detoxing your body, but also acting as a powerful appetite suppressant!</li>
		<li><strong>BUILD A ROCK SOLID IMMUNE SYSTEM:</strong><br>Fit Tea will supercharge and BOOST your overall immune system. This will help you from getting flu and colds throughout the entire year!</li>
		<li><strong>PROMOTE SOOTHING DIGESTION:</strong><br>Have issues with your digestive system? Fit tea will help set you straight, and give you natural and comfortable digestion to make you feel lighter and healthier!</li>
		<li><strong>ANTIMICROBIAL PROPERTIES:</strong><br>Fit Tea contains powerful antimicrobial properties to help keep you healthy and most of all, feeling good physically and mentally!</li>
	</ul>
  
	<img class="sales-block-image" src="{{ 'instagram-chlooooejade.jpeg' | asset_url }}" alt="Weight change from May 2012 to June 2013">
</div>