<h2>Fit Tea Fat-Burner is Specifically Designed to DOUBLE Fat Loss and Quickly Transform Your Body, Face and Health</h2>

<p><strong>Say Goodbye to Fat Forming</strong>: Our patent formula goes after fat cells at the source before they form!</p>

<p><strong>100% Natural</strong>: No false claims! No false Promises! 100% Natural</p>

<p><strong>Burn your fat, Not your cash</strong>: Very affordable and burn fat faster</p>


<p>Dear Friend,</p>

<p>If you’ve tried to shed weight in the past but were not successful, or if you’ve lost some weight only to gain it back, then you already know that <strong>diets and complicated exercises don’t work for you…</strong></p>

<p>And the fact is, for most people, they never, ever will…</p>

<p>On the other hand, there’s a small percentage of people who can get results from any diet program simply because they go at it almost like a machine.</p>

<p>Day in and day out they eat exactly what the diet gurus tells them to without any hitch. They <strong>ignore cravings</strong> with extreme willpower. And they <strong>‘plow through’ any emotional blocks</strong> and psychological urges that ‘pop up’ in their brain and <strong>screams</strong> for ‘more food.’</p>

<p>“No carbs? No any issue. Egg whites, broccoli and chicken breast? I’m on it. Avoid my favorite foods? Consider it done!”</p>

<p>Now before you underestimate yourself for not having that kind of willpower or restraint… just consider the real underlying reason most of the people struggle to make a lasting change in their health, weight and happiness…</p>

<img class="sales-block-image" src="{{ 'fatloss-226-to-180.png' | asset_url }}">

<h2>Statistics Show That 95% of Dieters Are Never Going To Lose Weight And Keep It Off If They Only Focus On Exercise and Food Alone</h2>

<p>Their unresolved emotional, old patterns blocks addictive habits and limiting beliefs will, cause them to rebound and spiral out of control… time and time again.</p>

<p>Has this ever happened to you: One day you’re on a strict diet, losing weight and feeling hopeful but the very next thing you know you’re unhappy and overweight again?</p>

<p>I know, this hasn’t happened to you just once… it’s happened many times over the years. I’m sure you know people who have been trapped on the weight loss roller coaster for years and the darn thing simply won’t stop.</p>

<p>This brings me to an important point that I wish to really emphasize: Until you get to the root of what causes these weight problems, you’re going to be stuck in a body you’re <strong>ashamed</strong> of… along with the physical and emotional health <strong>consequences</strong> that come along with it.</p>

<p>Get ready to bring a change!</p>

<p>Get ready to start your weight loss journey!</p>
 
<p>It’s not about reading books and taking online courses!</p>

<p>It’s not about joining workshops and seminars!</p>
 
<p>It’s about creating a real lifestyle!</p>

<p>Introducing...</p>

<h2>FIT TEA FAT-BURNER</h2>

<h3>Feel Awesome and Double Your Fat Losing Journey With This New Transformation all natural detoxifying fat burning Tea Pill!</h3>

<p>An amazing complex of African Mango Extract (Irvingia Gabonensis), Maqui Berry (from Aristotella Chilensisa), Acai Fruit, Green Tea Extract, Resveratrol, Caffeine Anhydrous, Apple Cider Vinegar (powder), Kelp, Grapefruit (powder) will take your weight loss journey to a next level...</p>

<p>When I start working with someone who’s tired of excess weight and has tried and failed a lot of times to get in good shape with traditional diets, my goal is to make each and every effort to help renew and restore their bio-balance as well as calm their ‘craving brain.’</p>

<p>This is achieved by following some simple steps.</p>

<p><strong>Step #1</strong>: The 1st step begins with a practical, proven and fun activity program that requires even less than 2% of the time you have. Believe me, you don’t have to spend hours in the gym to get smashing results. In fact, you don’t even have to step foot in a gym if you don’t need. So What’s the 1st step? MAKE UP YOUR MIND! Yes! I know you are tired of some weight loss gurus that only sell their products and don’t deliver the results. Don’t worry! This amazing tea with all the natural detoxifying properties will take your weight loss journey to a next level. Get maximum fat loss and ‘feel good’ results in minimum time while doing activities that you really enjoy.</p>

<p><strong>Step #2</strong>: From there, Switch to a balanced, 100% safe and very practical way of nourishing your body with the best product – Fit Tea Fat Burner. We will NOT starve your body—this tea will help you lose weight, stop cravings, and overcome food addictions.</p>

<p>These first two steps are really important, but make no mistake, they are only 2 pieces of a much larger puzzle…</p>

<p><strong>Step #3</strong>: From there you need to go through a step-by-step plan to help you transform addictive habits and other factors that are known to trigger the craving brain and throw your bio-balance… and fat burning… off track. This step is about being regular. If you need best results, take this amazing tea daily to become healthier, lighter, happier and energetic. I want to emphasize though… if you’re searching for another empty-promise diet or work-out program that hypes overnight weight loss without any kind of effort, than this really isn’t the product for you.</p>

<ul>
	<li>Reach a healthy ‘bio-balance’ to end cravings and double your fat loss</li>
	<li>Increase your energy levels</li>
	<li>Transcend your unhealthy habits</li>
	<li>Powerful weight-loss supplement</li>
	<li>Boosts metabolism and controls weight gain</li>
	<li>Reduces fluid retention</li>
	<li>Removes toxins from body which hinder body from burning fat</li>
	<li>Suppresses appetite</li>
	<li>Provides additional energy without the jitters</li>
	<li>100% natural</li>
	<li>Includes natural purgatives</li>
	<li>Induces fat loss &amp; controls weight gain</li>
	<li>Regulates blood pressure</li>
	<li>Natural antioxidants</li>
	<li>Slows down the aging process</li>
	<li>Reduces the risk of cancer</li>
	<li>Natural thermogenic to help burn fat</li>
	<li>Good source of iodine and iron</li>
	<li>Has anti-aging effects</li>
	<li>Make a positive and healthy difference in your life</li>
</ul>

<div class="instagram-embed-container">
  <img class="instagram-embed" src="{{ 'results-stripped-swimsuit.jpeg' | asset_url }}">
</div>

<h2>The Price Of Fit Tea Fat-Burner Should Be Much Higher</h2>

<p>As you can see, the product itself is quite unlike anything else on the market today, which really makes it priceless. We have decided that “this is our gift to the world, so we want to keep it affordable!</p>

<p>Normal retail price is $497. So today, we are practically giving this life altering product to you for not $497, not $397, not $297,$197, not $147, not $117, not $97…</p>

<p>In fact, the Special Price you will be paying today is just $35.</p>

<p>You really are getting an amazing opportunity of a life time! With this small price, you’ll be on the way to lose weight and get the best health you want!</p>

<p><strong>Option 1</strong>: Just forget about it.</p>

<p><strong>Option 2</strong>: Look at it this way. Search the internet, the local bookstall, or library. Get puzzled with all of the options. Go on a diet plan, put the body in deprivation mode, and by the end, gain back the things you have lost (if any), and then some more.</p>

<p><strong>Option 3</strong>: Take your hands over our Amazing Natural Weight loss Product!</p>

<p>NO MORE confusion</p>

<p>NO MORE frustration</p>

<p>NO MORE wasted effort</p>

<p>NO MORE lies and misinformation</p>

<h2>Ingredients</h2>

<p>African Mango, or Ivingia Garbonensis, is known to act as a purgative. Separate studies in 2005, 2008 and 2009 demonstrated that the intake of African Mango results in greater weight-loss, body-fat loss and an improvement in blood pressure.</p>

<p>Maqui Berries are very rich in anthocyanins, pigment compounds that are strong antioxidants. Specifically in Maqui Berries these anthocyanins are called delphinidins. Antioxidants prevent the oxidation of cholesterol and prevent cardiovascular disease.</p> 

<p>Acai fruit and Green Tea are also strong natural antioxidants which help neutralizing free radicals in the body, slow down aging and reduce the risk of cancer and heart-related diseases. Resveratrol is a substance which is produced by a number of plants as a type of defensive mechanism. It has been shown to have cardioprotective, antidiabetic and anti-inflammatory effects, amongst others.</p>

<p>Caffeine Anhydrous is a powdered form of caffeine making it more appropriate for a supplement combination. It provides energy, stimulates the metabolism and has appetite suppressing properties.</p>

<p>A 2009 study in Japan demonstrated that a regular intake of certain amounts of Apple Cider Vinegar can have positive effects in reducing obesity. It is also thought that Apple Cider Vinegar prolongs the feeling of satiety and thus regulates hunger.</p> 

<p>Kelp, a seaweed that has been used for many centuries in Asia and Europe, is a very good source of iodine and iron. A 2010 study by the University of Newcastle demonstrated that Kelp was also good at preventing fat absorption.</p>

<p>Grapefruits have been shown to lower cholesterol and to have strong antimicrobial properties. This combination of supplements is a powerful boost for your weight-loss efforts.</p>