<div class="block-tea-product-description-container">
	<h2 style="text-align: center;">Did you know that tea is amazing for your health?</h2>
	
  	<p>You’re about to discover a WORLDWIDE health secret that you may have never heard about… UNTIL NOW</p>
	
  	<h3>- INTRODUCING FIT TEA -</h3>
	
  	<p>Used all over the world for thousands of years as weight-loss secret to effectively help any fitness program. Give us a few weeks and you will feel great! Plus it tastes amazing! </p>
	
  	<p>The all natural ingredients in Fit tea may help:</p>
  
	<ul class="fit-tea-features-list">
		<li class="fit-tea-features-list-item">Promotes Fat Burning!</li>
		<li class="fit-tea-features-list-item">Boosts Immune System</li>
		<li class="fit-tea-features-list-item">Promotes &amp; Soothes Digestion</li>
		<li class="fit-tea-features-list-item">Promotes Loss Of Body Weight</li>
		<li class="fit-tea-features-list-item">Found To Have Antimicrobial Properties</li>
	</ul>

  	<p>Give us a try you will love Fit Tea!</p>
</div>