<div class="block-sales-1-container">
  <h2>Fit Tea is your #1 Health solution that promotes weightloss And gives you tons of energy! Also, it doesn’t taste bad either! Over 5000 positive reviews!</h2>
  <p>Fit Tea contains <strong>ALL-NATURAL</strong> ingredients that your body will not only crave, but also love! And the overall benefits by drinking Fit Tea are HUGE. </p>
  <img class="sales-block-image" src="{{ 'instagram-yadigomezm.jpg' | asset_url }}" alt="Before: 154 pounds, After: 130 pounds">
</div>