<div class="block-ingredients-container">
	<h2>What’s In Fit Tea Anyway?</h2>
	<p>Fit Tea is a loose leaf Fit Yea, that contains a powerful blend of: Organic Green Tea, Oolong Wu Yi, Organic Rooibos, Ginger, Pomegranate, Guarana, Birch, Stevia, corn and Honey Powder.</p>
	<p>You will be amazed at not only how WELL Fit Tea will work for you, but just how amazing and splendid it tastes!</p>
</div>