<div class="youtube-embed-container">
  <iframe class="youtube-embed" src="//www.youtube.com/embed/aZKxhQSAu04?autoplay=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>