<h2>What to expect when taking Gracinia Cambogia with 60 % HCA (Hydroxycitric Acid):</h2>

<p>Gracinia Cambogia contains a natural key ingredient, HCA (Hydroxycitric Acid), which suppresses appetite, prevents fat from being made, and turns fat towards glycogen (an energy source that helps burn fat).  Tests found out that a dosage of 1500+mg Garcinia Gambogia per day is recommended.</p>

<h2>Advantages of our Garcinia Cambogia:</h2>
<ul>
	<li>Increases Serotonin -> Increased sense of wellbeing</li>
	<li>Helps You Sleep Better While Burning Calories</li>
	<li>Suppresses Your Appetite</li>
	<li>No Side Effects</li>
	<li>Made In U.S.A.</li>
	<li>Turns Fat In Glycogen Which Helps You To Burn Fat</li>
</ul>


<h2>What will it do for you?</h2>
<ul>
	<li>Burn Off Excess Weight</li>
	<li>Build a Tighter Body</li>
	<li>Boost Your Metabolism</li>
	<li>Purify Your System</li>
	<li>You Will Feel Younger More Energetic And Powerful</li>
	
</ul>

<p>A famous doctor featured Garcinia Cambogia as a breakthrough in weight loss on several TV shows in 2012.</p>

<p>He said:</p>

<blockquote>It's effective with no side effects!  The Holy Grail Of Weight Loss!</blockquote>

<h2>Dosage:</h2>
<p>Take 1 (one) capsule 2-3 times a day 30-60 minutes before a meal in an empty Stomach with a 8 oz glass of water</p>