<h2>Active Ingredients</h2>

<h3>Promotes Fat Burning! Promotes Loss Of Body Weight</h3>
<p>Holy basil (Tulsi) - The Tulsi plant has many medicinal properties. The leaves are a nerve tonic and also sharpen memory. They promote the removal of the catarrhal matter and phlegm from the bronchial tube. The leaves strengthen the stomach and induce copious perspiration.</p>

<h3>Stress &amp; hair growth</h3>

<p><strong>Spearmint</strong> - Spearmint is an excellent remedy for minor ailments such as headaches, nervous strain, fatigue and stress, as well as for the respiratory problems; helping with asthma, bronchitis and catarrh. It even helps reduce unwanted hair through its anti-androgenic properties.</p>

<h3>Promotes &amp; Soothes Digestion</h3>

<p><strong>Rose Hips</strong> - Packed with Vitamin C they are great to prevent and treat colds and flu. Rose hips are also used for stomach disorders including stomach spasms, stomach acid deficiency, preventing stomach irritation and ulcers, and as a "stomach tonic" for intestinal diseases. They are also used for diarrhoea, constipation, gallstones, gallbladder ailments, lower urinary tract and kidney disorders, fluid retention , gout, back and leg pain, diabetes, high cholesterol, weight loss, high blood pressure, chest ailments, fever, increasing immune function during exhaustion, increasing blood flow in the limbs, increasing urine flow and quenching thirst</p>

<h3>Boosts Immune System</h3>

<p><strong>Lemon Myrtle</strong> - Lemon Myrtle, according to the "Encyclopaedia of Natural Medicine," can help treat sinus infections, bronchitis, fatigue, depression, common cold, influenza, raw throat, indigestion and irritable gastrointestinal disorders, allergies, dental infections, itching, athlete’s foot, acne and headaches.</p>

<p><strong>Linden Blossoms</strong> - Linden flowers contain a few different health benefits, but are most commonly used for treating a cold or a cough, and related symptoms or ailments. The aromatic herb helps to alleviate a stuffy noise and clear nasal passages, as well as break up mucus from the throat. Other health benefits of linden flowers are for reducing stress on the body, as well as having a light calming effect, serving to help reduce anxiety. Various studies have also shown the linden flower to be successful at treating stomach pains and relieving gas pressure.</p>

<h3>Found To Have Antimicrobial Properties</h3>

<p>Use of substances with antimicrobial properties is known to have been common practice for at least 2000 years to treat infection.</p>

<h3>Tea Ingredients Caffeine Free Blend</h3>

<p>Holy basil (Tulsi), spearmint, rose hips, lemon myrtle and linden blossoms, and berry flavouring.</p>